@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --base-100: #f7fafc;
    --base-200: #edf2f7;
    --positive-alert-color: green;
    --warning-alert-color: yellow;
    --negative-alert-color: red;
    --api-data-color: blue;
}